name: Build Mirage

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install CMake
      uses: ssrobins/install-cmake@v1
    - name: Configure
      run: cmake -B ${{github.workspace}}/build -G Ninja -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    - name: Release
      if: github.ref_type == 'tag'
      uses: softprops/action-gh-release@v2
      with:
        files: build/mirage.addon
